http:
  routers:{% for router in settings.traefik.routers %}{% include "blocks/router.yaml.j2" %}{% endfor %}
  middlewares:
    auth-basic:
      basicAuth:
        usersFile: "{{ settings.traefik.htpasswd_file_path | unix_path }}"
  services:
    {% for service in settings.traefik.services %}
        {% include "blocks/service.yaml.j2" %}
    {% endfor %}
