entryPoints:
  ping:
    address: "{{ traefik_settings.host }}:8081"
  http:
    address: "{{ traefik_settings.host }}:{{ traefik_settings.port }}"

providers:
  file:
    directory: "{{ config_path }}/dynamic"
    watch: true

api:
  dashboard: {{ "true" if traefik_settings.dashboard else "false" }}

log:
  level: "{{ traefik_settings.logger.console_level.value }}"

global:
  checkNewVersion: false
  sendAnonymousUsage: false

accessLog: {}