http:
  routers:
    ttyd-http:
      rule: PathPrefix(`{{ module.path }}`)
      middlewares:
        - auth-basic
      service: ttyd-service
      entryPoints:
        - http

  services:
    ttyd-service:
      loadBalancer:
        passHostHeader: true
        servers:
          - url: "http://127.0.0.1:{{ module.port }}"