ServerRoot "{{ apache.server_root.absolute() | ensure_path | as_str }}"
PidFile "{{ apache.pid_file_path.absolute() | ensure_parent_path | as_str }}"
TypesConfig "{{ apache.mime_types_file_path.absolute() | ensure_parent_path | as_str }}"
Listen {{ apache.host }}:{{ apache.port }}
ServerName localhost

User {{ apache.user }}
Group {{ apache.group }}

DocumentRoot "{{ apache.document_root.absolute() | ensure_path | as_str }}"

LogLevel debug
ErrorLog /dev/stderr
LogFormat "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined
CustomLog /dev/stdout combined
{% for module_name, module_path in apache.modules.items() %}
LoadModule {{ module_name }} "{{ module_path | raise_is_not_file | as_str}}"{% endfor %}{% for route in apache.routes.values() %}

# Route: {{ route }}
{% include "route.conf.j2" %}{% endfor %}