[supervisord]
pidfile={{ supervisor.pid_file_path | unix_path }}

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[unix_http_server]
file = {{ supervisor.socket_file_path | unix_path }}
chmod = 0777
chown = {{ user }}:{{ group }}

[supervisorctl]
serverurl = unix://{{ supervisor.socket_file_path | unix_path }}
prompt = admin-helper(supervisor){% if supervisor.dashboard %}

[inet_http_server]
port={{ supervisor.dashboard_host }}:{{ supervisor.dashboard_port }}{% endif %}
{% for program in supervisor.programs %}
{% include "program.conf.j2" %}
{% endfor %}