    {{ router.name }}:
      rule: {{ router.rule }}
      middlewares:{% for middleware in router.middlewares %}
        - {{ middleware }}{% endfor %}
      service: {{ router.service }}
      entryPoints:{% for entrypoint in router.entry_points %}
        - {{ entrypoint }}{% endfor %}

