http:
  routers:
    filebrowser-http:
      rule: PathPrefix(`{{ module.path }}`)
      middlewares:
        - auth-basic
      service: filebrowser-service
      entryPoints:
        - http

  services:
    filebrowser-service:
      loadBalancer:
        servers:
          - url: "http://127.0.0.1:{{ module.port }}"