entryPoints:
  ping:
    address: "{{ settings.traefik.host }}:8081"
  http:
    address: "{{ settings.traefik.host }}:{{ settings.traefik.port }}"

providers:
  file:
    filename: "{{ settings.traefik.dynamic_file_path | unix_path }}"
    watch: true

api:
  dashboard: {{ "true" if settings.traefik.dashboard else "false" }}

log:
  filePath: "{{ settings.traefik.log_file_path | unix_path }}"
  level: "{{ settings.traefik.log_level }}"

global:
  checkNewVersion: false
  sendAnonymousUsage: false

accessLog:
  filePath: "{{ settings.traefik.access_log_file_path | unix_path }}"