http:
  routers:
    ttyd-http:
      rule: PathPrefix(`/shell`)
      middlewares:
        - auth-basic
      service: ttyd-service
      entryPoints:
        - http

  services:
    ttyd-service:
      loadBalancer:
        servers:
          - url: "http://127.0.0.1:8000"